body {
    background-color: rgb(217, 148, 238);
}

.container {
    background-color: rgb(245, 238, 216);
    max-width: 800px;
    padding: 10px 0px 30px 30px;
    margin: 10px 0px 0px 297px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#submitButton {
    padding: 10px 25px 10px 25px;
}